<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.hhn.frontend">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".keytransfer.BeaconBackgroundService"
        android:allowBackup="true"
        android:icon="@mipmap/ic_cowapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cowapp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".PermissionActivity"
            android:noHistory="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DebugLog"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DebugActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".RiskLevelInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".InfectionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <service
            android:name=".provider.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestMenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".PushNotificationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SuspicionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".InfoMenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".GeneralInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LogActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DataProtectionActivity"
            android:noHistory="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            tools:node="replace">
            <meta-data
                android:name="longScanForcingEnabled"
                android:value="true" />
        </service>
    </application>

</manifest>