<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.hhn.cowapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".keytransfer.BeaconBackgroundService"
        android:allowBackup="true"
        android:icon="@mipmap/ic_cowapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cowapp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".gui.DataProtectionResumeActivity"></activity>
        <activity android:name=".gui.FaqActivity" />
        <activity android:name=".utils.BufferFileLogActivity" />
        <activity android:name=".utils.OtherKeysActivity" />
        <activity android:name=".utils.OwnKeyActivity" />
        <activity
            android:name=".gui.PermissionActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.DebugLog"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.DebugActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.RiskLevelInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.InfectionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service
            android:name=".notificationservice.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".gui.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.TestMenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.PushNotificationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.SuspicionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.InfoMenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.GeneralInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.LogActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.DataProtectionActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            tools:node="replace">
            <meta-data
                android:name="longScanForcingEnabled"
                android:value="true" />
        </service>
    </application>

</manifest>